# Node
node_modules/

# Build
dist/
.next/
out/
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS
.DS_Store

/src/generated/prisma

RESEND_API_KEY=re_QEKnyMTN_Ng4tDmgqCDy2pJSzCxwVSqB6
EMAIL_FROM=Heilpraktiker-Zentrum Bleialf <onboarding@resend.dev>

